
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.authendication-V7A {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 7rem 0rem 10.9rem 7.4rem;
  width: 100%;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  .auto-group-n5ye-aPW {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 7.3rem 2.8rem 0rem;
    display: flex;

    .secure-VFa {
      margin-right: 3.7rem;
      width: 11.8rem;
      height: 11.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .crew-bank-pYk {
      margin-right: 37.4rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.2;
      color: #000000;
      font-family: Itim, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-jvc {
      font-weight: 400;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.5);
      font-family: Itim, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.5rem 2.9rem 0rem 0rem;
      font-size: 3rem;
    }
    .profile-rVS {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.5);
      font-family: Itim, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.5rem 3.8rem 0rem 0rem;
    }
    .about-us-agL {
      font-weight: 400;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.5);
      font-family: Itim, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.5rem 2rem 0rem 0rem;
      font-size: 3rem;
    }
    .contact-us-W4C {
      font-weight: 400;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.5);
      font-family: Itim, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.5rem;
      font-size: 3rem;
    }
  }
  .auto-group-knc4-Rwr {
    width: 100%;
    height: 65.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-95sa-Ns6 {
      margin: 5.5rem 16.4rem 15.5rem 0rem;
      height: calc(100% - 21rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .scan-your-face-for-verification-huN {
        color: #000000;
        font-family: Itim, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 17.9rem;
        max-width: 51.8rem;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.2;
      }
      .auto-group-orre-CbE {
        border-radius: 6.3rem;
        flex-shrink: 0;
        margin-left: 1.1rem;
        width: 38.3rem;
        height: 11.6rem;
        position: relative;
        background-color: #455a64;

        .rectangle-30-wHv {
          border-radius: 5.2rem;
          width: 36.3rem;
          height: 9.8rem;
          position: absolute;
          left: 1rem;
          top: 0.9rem;
          background-color: #f2f2f2;
        }
        .scan-now-F3i {
          white-space: nowrap;
          width: 22.3rem;
          left: 8.8rem;
          line-height: 1.2;
          color: #000000;
          font-family: Itim, 'Source Sans Pro';
          height: 5.4rem;
          position: absolute;
          top: 3.1rem;
          font-size: 4.5rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-c9c8-KZN {
      width: 75.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item-1166880420945796-1-4mr {
        object-fit: cover;
        vertical-align: top;
        width: 66.3rem;
        height: 65.9rem;
        position: absolute;
        left: 9.3rem;
        top: 0;
      }
      .check-aEQ {
        position: absolute;
        left: 0;
        top: 7.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 12.8rem;
        height: 12.8rem;
      }
    }
  }
}
